body {
  overflow: hidden;
  margin: 0;
}

/* div {
  background-color: rgb(255, 0, 0);
} */

#main-container {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: rgb(155, 102, 102); */
}

#start {
  height: 30vh;
  width: 30vw;
  position: absolute;
  top: 35vh;
  right: 35%;
  z-index: 10;

}

#top-line {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100px;
  width: 100%;
}

#text-zone {
  position: absolute;
  height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  left: 20vh;
  background-color: white;
  border: 10px solid black;
  border-radius: 40px;
  
}

p {
  font-size: 50px;
  font-weight: bold;
}